.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.emoji_section {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.emoji {
  display: flex;
  width: 44px;
  background: #EDF5FF;
  border: 1px solid #0f62fe;
  padding: 2px;
  border-radius: 15px;
}

.fb_parent {
  z-index: 1;
  position: "absolute";
  top: -2rem;
}

.fb {
  z-index: 1;
  position: "absolute";
  top: 15rem;
}

.emoji_selector {
  width: 25px;
  padding-right: 5px;
}
